*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/buildSrc/.gradle
/buildSrc/build
/common/build
/main/api/build
/main/impl/build
/data/api/build
/data/impl/build
/product-details/api/build
/product-details/impl/build
/cart/api/build
/cart/impl/build
/captures
.externalNativeBuild
.cxx
local.properties
